server:
  port: 8081
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/file_storage
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

app:
  storage:
    path: "./storage"
  cors:
    allowed-origins: "http://localhost:3000,http://localhost:8081"

logging:
  level:
    ru.netology.filestorage: DEBUG